<!DOCTYPE html>
<!-- HTML5 -->

<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="stretched service-page soft-story-and-structural-upgrade">
    <div id="wrapper" class="clearfix">
        <% include ../components/core/top-bar %>
            <% include ../partials/header %>
                <% include ../components/core/title %>
                    <section id="content">
                        <div class="content-wrap">
                            <div class="container clearfix">
                                <div class="row clearfix bottommargin topmargin-sm">
                                    <div class="col-lg-6">
                                        <div class="heading-block nobottomborder bottommargin-sm">
                                            <h3>SOFT STORY AND STRUCTURAL UPGRADE</h3>
                                            <span>
																						 Contact our company if you wish to comply with <a href="https://sfdbi.org/softstory" target="_blank">Mandatory Soft Story Program</a>, or need assistance with retrofit of your building. Cost effective soft story seismic retrofit engineering design and construction strengthening measures are implemented by Current Construction which significantly improve the earthquake resistance of the buildings without a loss of use of the parking space or the compromise of the building aesthetics. After the retrofit, the property is removed from the city’s inventory list of soft story hazardous buildings.
																						</span>
                                        </div>
                                        <p>
                                           Our company provides soft story screening and evaluation, soft story seismic retrofit engineering design or soft story engineering and construction (design/build). We also provide construction for retrofit design provided by other engineering companies.
                                        </p>
                                        <a href="/services" class="button button-3d noleftmargin bottommargin-sm">All services</a>
                                    </div>
                                    <div class="col-lg-6">
                                      <img src="<%=assets%>/bay-1.jpg" alt="current construction">
                                    </div>
                                </div>
                                <div class="clear"></div>
																
																<div class="fancy-title title-border">
																	<h3>PORTFOLIO: SOFT STORY AND STRUCTURAL UPGRADE</h3>
																</div>

																<div class="row topmargin">
																	<div class="col-3 bottommargin">
																		<a href="/project/4"><img src="<%=assets%>/bay-1.jpg" /></a>
																	</div>
																	<div class="col-3 bottommargin">
																		<a href="/project/5"><img src="<%=assets%>/washington-1.jpg" /></a>
																	</div>
																	<div class="col-3 bottommargin">
																		<a href="/project/6"><img src="<%=assets%>/fremont-1.jpg" /></a>
																	</div>
																	<div class="col-3 bottommargin">
																		<a href="/project/13"><img src="<%=assets%>/bay-1.jpg" /></a>
																	</div>
																</div> <!-- ./row -->
                            </div>
                        </div>
                    </section>
                    <% include ../partials/footer %>
    </div>
    <% include ../partials/foot %>
</body>

</html>
