<div class="container clearfix">
    <div class="clear-bottommargin">
        <div class="row common-height clearfix">
            <div class="col-lg-4 col-md-6 bottommargin">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                      <a href="#"><img src="<%=assets%>/building.png" alt="Concrete Developments"></a>
                    </div>
                    <h3>Planned to Perfection</h3>
                    <p>We pride ourselves on leaving nothing to chance, and preparing
                        for each and every eventuality.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 bottommargin">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                        <a href="#"><img src="<%=assets%>/bank.png" alt="Finance Assistance"></a>
                    </div>
                    <h3>Communication</h3>
                    <p>We are a collaborative group of builders and designers who
                        believe in teamwork to push ourselves and achieve the very
                        best results.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 bottommargin">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                        <a href="#"><img src="<%=assets%>/drawer.png" alt="Interiorly Designed"></a>
                    </div>
                    <h3>Shared Vision</h3>
                    <p>We take the time to understand your needs, our planning starts
                        with your vision and an understanding of who will live
                        and work in the finished space.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 bottommargin">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                      <a href="#"><img src="<%=assets%>/paper-money.png" alt="Cost Effective Solutions"></a>
                    </div>
                    <h3>Pre-construction Meeting</h3>
                    <p>Current Construction will schedule an onsite pre-construction
                        meeting with you prior to the start of construction on
                        your project.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 bottommargin">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                      <a href="#"><img src="<%=assets%>/traffic-cone.png" alt="Smart Builders"></a>
                    </div>
                    <h3>Construction Begins</h3>
                    <p>You will find that communication will increase and more details
                        will be discussed the closer we get to your start date.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 bottommargin">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                      <a href="#"><img src="<%=assets%>/paint-brush.png" alt="Quality Infrastructure"></a>
                    </div>
                    <h3>Project Completion</h3>
                    <p>Upon completion, your Current Construction Project Manager
                        will walk through your property with you to identify any
                        elements that require modification.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
